name: API CI

on:
  push:
    paths:
      - 'apps/**'
      - '.github/workflows/api.yml'
  pull_request:
    paths:
      - 'apps/**'
      - '.github/workflows/api.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - run: npm run build
